
  .about_container {
    width: 80%;
    margin: 0 auto;
  }
  li {
    display: flex;
    align-items: center;
    transform: translateX(-15%);
    list-style-type: none;
    opacity: 0;
    animation: showText 4s forwards, showTextRight 2s forwards;
    margin-top: 8%;
    span{
      font-size: 40px;
      width: 100ch;
      animation: typing 10s steps(200), blink 0.5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }

  }

  @keyframes showText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes showTextRight {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(0);
    }
  }
