.PollCreated{
    background: linear-gradient( rgba(109, 109, 109, 0.8), rgba(0, 0, 0, 0.5) ), url(https://source.unsplash.com/random/);
    background-size: cover;
    border-radius: 10px;
    max-width: 200px;
    min-height: 80px;
    height: 80%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

