
.animationAnswer {
  animation: animationAnswerShow 3s ease;
}
@keyframes animationAnswerShow {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
.animationQuestion {
  animation: animationQuestionShow 3s ease;
}
@keyframes animationQuestionShow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
