.containerConst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
}
.constructor {
    width: 90%;
    height: 100%;
  border-radius: 20px;
  background: #fafafa;
  box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
    2px 2px 2px #ffffff inset;
    animation: showBox 3s ease;
    .created{
        width: 100%;
        height: 15%;
        display: flex;
        border-bottom:2px solid #a18cd1;
        overflow-y: hidden;
        align-items: center;
        .pollsCreated{
            margin-left: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .add{
            margin-left: 20px;
            cursor: pointer;
        }

    }
    .creator{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        height: 580px;
        overflow-y: scroll;
    }
}
@keyframes showBox{
    0%{
        transform: translateY(10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


.creator::-webkit-scrollbar-track
{
	border-radius: 10px;
    
	background-color: #a18cd1 ;
}

.creator::-webkit-scrollbar
{
    width: 5px;
	background-color: #F5F5F5;
}

.creator::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: white;
}

.anim{
    animation: text1 3s ease ;
}
.anim2{
    animation: text2 3s ease ;
}
@keyframes text1{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes text2{
    0%{
        transform: translateX(50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}