.cardShow {
  animation: showCard 5s ease-in-out, showCardY 2s ease-in-out;
}

@keyframes showCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showCardY {
  0% {
    transform: translateX(45%);
  }
  100% {
    transform: translateX(0);
  }
}
